{% extends 'base.html' %}
{% block title %}HR Dashboard - Payroll Management System{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-5 mb-4">HR Dashboard</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="card bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title text-white">Leave Management</h5>
                    <p class="card-text text-white">Manage employee leaves.</p>
                    <a href="{% url 'hr_leave_management' %}" class="btn btn-light">Go to Leave Management</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-primary">
                <div class="card-body">
                    <h5 class="card-title text-white">Payroll Management</h5>
                    <p class="card-text text-white">Access payroll details.</p>
                    <a href="{% url 'payroll_management' %}" class="btn btn-light">Go to Payroll Management</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
